/* /Pages/Addins.razor.rz.scp.css */
#customers[b-0dyporh45l] {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 30px;
}

#customers td[b-0dyporh45l], #customers th[b-0dyporh45l] {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even)[b-0dyporh45l]{background-color: #f2f2f2;}

#customers tr:hover[b-0dyporh45l] {background-color: #ddd;}

#customers th[b-0dyporh45l] {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #594ae2;
  color: white;
}
/* /Pages/AddinsEditAdmin.razor.rz.scp.css */
#customers[b-m33y8fkysn] {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 30px;
}

#customers td[b-m33y8fkysn], #customers th[b-m33y8fkysn] {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even)[b-m33y8fkysn]{background-color: #f2f2f2;}

#customers tr:hover[b-m33y8fkysn] {background-color: #ddd;}

#customers th[b-m33y8fkysn] {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #594ae2;
  color: white;
}
/* /Pages/Coffee.razor.rz.scp.css */
#customers[b-cl1wtu9uwv] {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 30px;
}

    #customers td[b-cl1wtu9uwv], #customers th[b-cl1wtu9uwv] {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even)[b-cl1wtu9uwv] {
        background-color: #f2f2f2;
    }

    #customers tr:hover[b-cl1wtu9uwv] {
        background-color: #ddd;
    }

    #customers th[b-cl1wtu9uwv] {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #594ae2;
        color: white;
    }
/* /Pages/CoffeeEditAdmin.razor.rz.scp.css */
#customers[b-hy4obwaytd] {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 30px;
}

    #customers td[b-hy4obwaytd], #customers th[b-hy4obwaytd] {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even)[b-hy4obwaytd] {
        background-color: #f2f2f2;
    }

    #customers tr:hover[b-hy4obwaytd] {
        background-color: #ddd;
    }

    #customers th[b-hy4obwaytd] {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #594ae2;
        color: white;
    }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-fz4hx7tjmw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-fz4hx7tjmw] {
    flex: 1;
}

.sidebar[b-fz4hx7tjmw] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-fz4hx7tjmw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-fz4hx7tjmw]  a, .top-row[b-fz4hx7tjmw]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-fz4hx7tjmw]  a:hover, .top-row[b-fz4hx7tjmw]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-fz4hx7tjmw]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-fz4hx7tjmw] {
        display: none;
    }

    .top-row.auth[b-fz4hx7tjmw] {
        justify-content: space-between;
    }

    .top-row[b-fz4hx7tjmw]  a, .top-row[b-fz4hx7tjmw]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-fz4hx7tjmw] {
        flex-direction: row;
    }

    .sidebar[b-fz4hx7tjmw] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-fz4hx7tjmw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-fz4hx7tjmw], article[b-fz4hx7tjmw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


.navbar-toggler[b-fz4hx7tjmw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fz4hx7tjmw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fz4hx7tjmw] {
    font-size: 1.1rem;
}

.oi[b-fz4hx7tjmw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fz4hx7tjmw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fz4hx7tjmw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fz4hx7tjmw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fz4hx7tjmw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-fz4hx7tjmw]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-fz4hx7tjmw]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-fz4hx7tjmw] {
        display: none;
    }

    .collapse[b-fz4hx7tjmw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
