@page "/"
@inject NavigationManager NavManager
@using Bislerium.Data

@if (_globalState.CurrentUser != null)
{
    <h3> User is @_globalState.CurrentUser.Role</h3>
}

@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    protected override void OnInitialized()
    {
        if (_globalState.CurrentUser == null)
        {
            NavManager.NavigateTo("/login");
        }

        base.OnInitialized();
    }

    public void logout()
    {
        _globalState.CurrentUser = null;
        NavManager.NavigateTo("/login");
    }
}